{% extends 'basic/new/product-base.html' %}

{% load static %}


{% block product %}

    <div class='container-fluid emptyBlock'>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">K.S. FASTNERS</h1>
            <p class="lead">Meeting Commitments Since The Beginning.</p>
        </div>
    </div>

    <div class='container my-4 py-4 contactArea'>
        <div class='row'>
            <div class='col-sm-6 col-lg-6 d-flex align-items-center '>
                <h2><u>Our<br> Address</u> </h2>
                <p class=' come ml-5'>
                    <i class="fas fa-map-marker-alt fa-lg p-1"></i>  987/9 Govind Puri, <br> New Delhi -110019 <br><br>
                        <i class="fab fa-whatsapp-square fa-lg p-2"></i> 9650975736<br> <br>
                        <i class="fa fa-envelope-open fa-lg p-2"></i> Ksfastners2001@gmail.com<br> <br>
                        <i class="fas fa-phone-volume fa-lg p-2"></i><a href="tel:9650975736">Call us?  <strong><i> 9650975736 </i> </strong></a>
                </p>
            </div>


            <div class='col-sm-6 col-lg-6 d-flex align-items-center abc mt-5'>
                <h2> <u>Downloads? </u> </h2>
                <p class='ml-5'>
                <a class="btn btn-outline-primary btn mt-2" href = "{{pdf.file.url}}" download="Samplepdf   " role="button">Download Our Catalogue?</a><br/>
                <a class="btn btn-outline-primary btn mt-2" href = "{{pdf2.file.url}}" download="Samplepdf   " role="button">Purchase Inquiry Format</a>
                <p>
               
            </div>
            
        </div>
    </div>

   


    <style>

    .abc{
        border-left: 1px solid black;
    }
    .emptyBlock{
        margin-top: 150px;
    }
    .come{
        font-size: 20px;
        font-weight: 400;
        
        
    }
    </style>


{% endblock product %}
